body{
	font-family: 'Dosis', sans-serif;
	background-image: url('../images/geometry2.png');
	/*background-color: yellow;*/
	overflow-x: hidden;
}

/*HEADER CSS*/

body .page-header{
	background-color:#ff4d4d;
	width:100%;
	top:0;
	margin:0;
	height:125px;
}

header .title{
	font-family: 'Satisfy', cursive;
  font-size: 60pt;
  color:white;
}

header .search-bar{
	width: 25%;
	float:right;
	margin-top: 40px;
	border: #c8e1ef 2px solid;
  border-radius: 15px 50px;
  font-size: 16pt;
}

header .search-bar:focus{
  border: none;
  box-shadow: 0 0 5px #c8e1ef;
}

header .menu{
	position: absolute;
	width: 75px;
  top: 25px;
  opacity: 0.8;
}

header .menu:hover{
	cursor:pointer;
	opacity:1;
}

/*div.closed{
	animation: turn-on 200ms;
}
header .opened{

}
@keyframes turn-on{
	from { transform: rotate(0deg); }
	to { transform: rotate(90deg); }
}
@keyframes turn-off{
	
}*/

.menu-box{
	right:0;
	position: absolute;
	background: white;
	width: 300px;
  height: 180px;
  z-index: 2;
  padding: 0 10px;
	box-shadow: -5px 5px 10px lightgrey;
	transform: translate(310px,0);
}

.menu-box h1{
	margin:10px;
	text-align: center;
	color: rgba(255, 77, 77, 0.6);
	font-size: 35pt;
	padding: 10px 0;
	font-family: 'Satisfy', cursive;
	border-bottom: rgba(255, 77, 77, 0.6) 2px solid;
	border-top: rgba(255, 77, 77, 0.6) 2px solid;
}


/*MAIN SOCKS CSS*/
.container-fluid p{
	text-align: center;
	transform: translate(0 ,130%);
	font-size: 18pt;
}

.container .photo-holder{
	display:block;
	float:left;
	/*23% to accommodate margins*/
	width:23%;
	height:565px;
	position: relative;
	margin:10px;
}

.photo-holder:hover .information{
	transition: opacity 0.25s;

}

.featured-socks{
	object-fit: cover;
	width:100%;
	height:100%;
	/*max-height:565px;	*/
	/*background-size: contain;*/
	/*background-position: 50% 50%;*/
  /*background-repeat:   no-repeat;*/
  /*background-size:     cover;*/
}

.photo-holder .information{
	padding:20px;
	position: absolute;
	top:0;
	background-color: rgba(255, 77, 77, 0.8);
	height: 100%;
	width:100%;
	opacity: 0;
	display:none;
}

.information .name{
	text-align: center;
	color:white;
	font-size: 20pt;
}

.information .description{
	border-top: 1px solid white;
	padding:10px 10px 10px 10px;
	color:white;
	font-size: 14pt;
}

.information .profile-holder{
	position: relative;
	width:110px;
	height:110px;
	background-color: white;
	clip-path: circle(50% at 50% 50%);
	left:50%;
	transform: translate(-50%, 0);
}

.information .profile-holder .profile{
	position: absolute;
	width: 100px;
	height: 100px;
	clip-path: circle(50% at 50% 50%);
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*MODAL CSS*/
.modal-footer img{
	width:100px;
	opacity: 0.7;
}

.modal-footer .accept{
float:left;
}

.modal-footer .nope{

}


/*Left - Notification box CSS*/
.notification-box{
	width:600px;
	height:600px;
	background:white;
	box-shadow: 5px 0px 10px lightgrey;
	/*background:rgba(255, 77, 77, 1);*/
	position: absolute;
	top:250px;
	padding:30px;
	transform: translate(-610px,0);
	z-index: 2; 
}

.notification-box .pull-tab{
	background-color: white;
	box-shadow: 5px 5px 10px lightgrey;
	padding:10px;
	width:80px;
	height:85px;
	position:absolute;
	top:0;
	right:-80px;
	opacity:0.8;
}

.notification-box .pull-tab:hover{
	cursor: pointer;
}

.notification-title{
	font-family: 'Satisfy', cursive;
	color: rgba(255, 77, 77, 0.6);
	font-size: 35pt;
	padding-bottom: 5px;
	border-bottom: rgba(255, 77, 77, 0.6) 2px solid;
}

.notification-box .notification-overflow{
	overflow:auto;
	height:450px;
}

.notification-box .notification-bar{
	width:100%;
	height:100px;
	font-size:20pt;
	margin:10px 0;
	background-image: url(../images/notification_paper.jpg);
	background-color: white;
	opacity: 0.7;
	box-shadow: 5px 5px 10px lightgrey;
	position: relative;
	cursor:pointer;
	transition: opacity 0.25s;
}

.notification-box .notification-bar:hover{
	opacity: 1;
}

.notification-bar .profile-holder{
	width:85px;
	height:85px;
	background: rgba(255, 77, 77, 0.6);
	clip-path: circle(50% at 50% 50%);
	position:relative;
	float:left;
  left: 25px;
  top: 8px;
}

.notification-bar .profile{
	width:75px;
	height:75px;
	clip-path: circle(50% at 50% 50%);
	position:absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-bar span{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}



/*INDVIDIAUL SOCKS PAGE*/
.sock-html .container{
	margin-top:50px;
}

.sock-html .container .featured-socks{
	width:35%;
	height:500px;
	object-fit: cover;
	border: #ff4d4d solid 10px;
}

.sock-html .container .this-box-goes-right{
	float:right;
	width:60%;
}
.sock-html .sock-name{
	font-size: 40px;
	font-weight: bold;
}

.sock-html .profile{
	width:75px;
	height: 75px;
	clip-path: circle(50% at 50% 50%);
	object-fit: cover;
}

.sock-html .user-name{
	font-size: 20pt;
}

.sock-html .sock-description{
	font-size: 16pt;
}