body{
	font-family: 'Dosis', sans-serif;
	background-image: url('../images/geometry2.png');
	/*background-color: yellow;*/
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
}

/*HEADER CSS*/
body .page-header{
	background-color:#ff4d4d;
	width:100%;
	top:0;
	margin:0;
	height:125px;
	background-image: url('../images/leaves.png');
	background-position:left top;
	background-size: auto 180px;
}


header .title{
	font-family: 'Satisfy', cursive;
  font-size: 60pt;
  color:white;
  text-shadow: 2px 2px 2px black; 
}

header a:hover{
	text-decoration: none;
}

header .search-bar{
	width: 25%;
	float:right;
	margin-top: 40px;
	border: #c8e1ef 2px solid;
  border-radius: 15px 50px;
  font-size: 16pt;
  box-shadow: 2px 2px 2px black; 
}

header .search-bar:focus{
  border: none;
  box-shadow: 2px 2px 2px black; 
}

header .profile-pic-container{
	position: relative;
	top: 25px;
	width: 85px;
	height: 85px;
	background-color: white; 	
	clip-path: circle(50% at 50% 50%);
  opacity: 1;
  transition: opacity 0.25s;
}

header .menu{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 75px;
	height: 75px;
  clip-path: circle(50% at 50% 50%);
}

header .profile-pic-container:hover{
	cursor:pointer;
	opacity:0.8;
}

/*div.closed{
	animation: turn-on 200ms;
}
header .opened{

}
@keyframes turn-on{
	from { transform: rotate(0deg); }
	to { transform: rotate(90deg); }
}
@keyframes turn-off{
	
}*/


/*MAIN SOCKS CSS*/
.container-fluid p{
	text-align: center;
	transform: translate(0 ,130%);
	font-size: 18pt;
}

.container .photo-holder{
	display:block;
	float:left;
	/*23% to accommodate margins*/
	width:23%;
	height:565px;
	position: relative;
	margin:10px;
}

.photo-holder:hover .information{
	transition: opacity 0.25s;

}



.featured-socks{
	object-fit: cover;
	width:100%;
	height:100%;
	/*max-height:565px;	*/
	/*background-size: contain;*/
	/*background-position: 50% 50%;*/
  /*background-repeat:   no-repeat;*/
  /*background-size:     cover;*/
}

.photo-holder .information{
	padding:20px;
	position: absolute;
	top:0;
	background-color: rgba(255, 77, 77, 0.8);
	height: 100%;
	width:100%;
	opacity: 0;
	display:none;
}

.information .name{
	text-align: center;
	color:white;
	font-size: 20pt;
}

.information .description{
	border-top: 1px solid white;
	padding:10px 10px 10px 10px;
	color:white;
	font-size: 14pt;
	height:300px;
	overflow-y: hidden;
}

.information .profile-holder{
	position: relative;
	width:110px;
	height:110px;
	background-color: white;
	clip-path: circle(50% at 50% 50%);
	left:50%;
	transform: translate(-50%, 0);
}

.information .profile-holder .profile{
	position: absolute;
	width: 100px;
	height: 100px;
	clip-path: circle(50% at 50% 50%);
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-holder .trade{
	position: absolute;
	bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-weight: bold;*/
	border: 2px solid white;
	padding: 0 5px;
  font-size: 18pt;
  color: white;
	background:rgba(255, 77, 77, 0.5);
  opacity: 1;
  transition: opacity 0.25s; 
}

.photo-holder .trade:hover{
	cursor: pointer;
	opacity: 0.7;
}

.bottom-leaves{
	position: absolute;
	bottom:0;
	/*left:0;*/
	width:100%;
	height:1080px;
	opacity: 0.4;
	filter:saturate(3) contrast(100%);
	z-index: -99;
}


/*MODAL CSS*/
.modal-content{
	background:rgba(0, 0, 0, 0.7);
	padding:20px;
}

.modal-footer img{
	width:100px;
	opacity: 0.7;
}

.modal-footer .accept{
	float:left;
}

.modal-footer, .modal-body, .modal-header{	
	border-color: rgba(255, 77, 77, 0.6); 
}

.modal-title{
	font-family: 'Satisfy', cursive;
	text-align: left;
	color: #ff4d4d;
	font-size:30pt;
}

#myModal-trade .modal-body .modal-title{
	display:none;
}

.modal-body p{
	font-size: 18pt;
	color:white;
}

.modal-sock-pix{
	height:300px;
	overflow: auto;
}

.modal-sock-pix .my-socks{
	width:25%;
	height:200px;
	float:left;
	padding:5px;
}

.footer-button-space{
	height:100px;
}

.main-sock-request{
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
}



/*Left - Notification box CSS*/
.notification-box{
	width:600px;
	height:600px;
	background:white;
	box-shadow: 5px 0px 10px lightgrey;
	/*background:rgba(255, 77, 77, 1);*/
	position: fixed;
	top:250px;
	padding:30px;
	transform: translate(-610px,0);
	z-index: 99; 
}

.notification-box .pull-tab{
	background-color: white;
	box-shadow: 5px 5px 10px lightgrey;
	padding:10px;
	width:80px;
	height:85px;
	position:absolute;
	top:0;
	right:-80px;
	opacity:0.8;
}

.notification-box .notification-count{
	color:white;
	font-size: 16pt;
	font-weight: bold;
	background-color: red;
	padding:6px 15px;
	clip-path: circle(50% at 50% 50%);
	position: absolute;
	top:-10px;
	right:-25px;
	opacity: 0.7;
	transition: opacity 0.25s;
}

.notification-box .pull-tab:hover{
	cursor: pointer;
}

.notification-box .pull-tab:hover .notification-count{
	opacity: 1;
}

.notification-title{
	font-family: 'Satisfy', cursive;
	color: rgba(255, 77, 77, 0.6);
	font-size: 35pt;
	padding-bottom: 5px;
	border-bottom: rgba(255, 77, 77, 0.6) 2px solid;
}

.notification-box .notification-overflow{
	overflow:auto;
	height:450px;
}

.notification-box .notification-bar{
	width:100%;
	height:100px;
	font-size:20pt;
	margin:10px 0;
	background-image: url(../images/notification_paper.jpg);
	background-color: white;
	opacity: 0.7;
	box-shadow: 5px 5px 10px lightgrey;
	position: relative;
	cursor:pointer;
	transition: opacity 0.25s;
}

.notification-box .notification-bar:hover{
	opacity: 1;
}

.notification-bar .profile-holder{
	width:85px;
	height:85px;
	background: rgba(255, 77, 77, 0.6);
	clip-path: circle(50% at 50% 50%);
	position:relative;
	float:left;
  left: 25px;
  top: 8px;
}

.notification-bar .profile{
	width:75px;
	height:75px;
	clip-path: circle(50% at 50% 50%);
	position:absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-bar span{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}



/*INDVIDIAUL SOCKS PAGE*/
.sock-html{
	height:1300px;
}

.sock-html .container{
	margin-top:50px;
	position: relative;
}

.sock-html .container .featured-socks{
	width:35%;
	height:585px;
	object-fit: cover;
	border: rgba(255, 77, 77, 1) dotted 5px;
}

.sock-html .container .this-box-goes-right{
	float:right;
	width:60%;
	/*background-color: rgba(0,0,0,0.3);*/
	/*height: 585px;*/
	background-color: rgba(255, 77, 77, 0.5);
	padding:15px;
	color:white;
	text-shadow: 1px 1px 2px black;
}
.sock-html .sock-name{
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: rgba(255, 77, 77, 0.6) 2px solid;
}

.sock-html .profile-holder{
	margin-top: 15px;	
}

.sock-html .profile{
	width:75px;
	height: 75px;
	clip-path: circle(50% at 50% 50%);
	object-fit: cover;
	/*margin-top:10px;*/
}

.sock-html .user-name{
	font-size: 20pt;
}

.sock-html .sock-description{
  font-size: 17pt;
  overflow: auto;
	height:270px;
	padding:10px;
	/*background-color: rgba(0,0,0,0.3);*/
}

.sock-html .sock-value, .sock-html .sock-condition, .sock-html .for-fun{
	background-color: rgba(255, 77, 77, 0.8);
	padding:10px;
	color: white;
	font-size: 14pt;
	float:left;
	margin:5px;
}

.sock-html .sock-request{
	position: absolute;
	left:50%;
	bottom:-25%; 
	transform: translate(-50%,0);
}

.sock-html .sock-request:hover{
	opacity: 0.8;
}

.sock-html .sock-request, .main-sock-request{
	font-size: 20pt;
	font-weight: bold;
	background: rgba(255, 77, 77, 1);
	transition: opacity 0.25s;
}

.sock-html .suggestions{
	width: 100%;
	height: 250px;
	background-color: rgba(255, 77, 77, 0.5);
	position: absolute;
	bottom: 0px;
  margin-bottom: 40px;
}

.sock-html .suggestions h3{
	position: absolute;
	font-style: italic;
	top:-65px;
	background-color: rgba(255, 77, 77, 0.8);
	color:white;
	text-shadow: 1px 1px 2px black;
	padding:10px;
}

.sock-html .suggestions img{
	width:200px;
	height:200px;
	position: absolute;
	transform: translate(0%,13%);
	border: rgba(255, 77, 77, 1) solid 3px;;
	opacity: 0.8;
	transition: opacity 0.25s;
}

.sock-html .suggestions img:hover{
	opacity: 1;
	cursor:pointer;
}

/*PROFILE.HTML CSS*/
.profile-html .profile-banner{
	margin: 10px 0 20px 0;	
	width: 100%;
	height: 500px;
	background:url('../images/banner.png');
	background-size: 100% 995px;
	/*background-attachment: fixed;*/
  position: relative;
  z-index: 2;
}

.profile-html .profile-banner-color{
  position: absolute;
  background-color: rgba(255, 77, 77, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-html .profile-banner h1{
	font-size: 50pt;
	color:white;
	position: absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: 'Satisfy', cursive;
	text-align: center;
}

.profile-html .profile-banner .profile-holder{
	position: absolute;
	width:250px;
	height:250px;
	/*background-color: rgba(255, 77, 77, 1);*/
	background-color: white;
	clip-path: circle(50% at 50% 50%);
	bottom:0;
	left:50%;
	transform: translate(-50%, 50%);
}

.profile-html .profile-banner .profile-holder .profile{
	position: absolute;
	width:230px;
	height:230px;
	clip-path: circle(50% at 50% 50%);
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-html .container .profile-options{
	height:140px;
	border: white 10px solid;
	width: 100%;
	background-color: rgba(255, 77, 77, 0.7); 
}

.profile-html .profile-options{
	position: relative;	
}

.profile-html .profile-options .add-a-sock, .profile-html .profile-options .lose-a-sock{
	font-weight: bold;
	font-size: 70px;
	color:white;
	opacity: 0.7;
	transition: opacity 0.25s;
}

.profile-html .profile-options .add-a-sock{
	position: absolute;
	right:15%;
	top:-10%;
}

.profile-html .profile-options .lose-a-sock{
	position: absolute;
	left:15%;
	top:-10%;
}

.profile-html .profile-options .add-a-sock:hover, .profile-html .profile-options .lose-a-sock:hover{
	opacity: 1;
	cursor: pointer;
}

.profile-html .profile-options .title{
	font-size:16pt; 
	transform: translate(-30%,-100%);
}


/*.profile-html .profile-banner img{
	background-color: rgb(255, 77, 77);
	/*opacity: 0.5;
	margin:0;
	width: 100%;
	object-fit: cover;
}*/
